* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body.light_mode {
    color: black;
}

.main_flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 370px;
}

.main_flex button {
    border: none;
    background: #ffffffe1;
    font-size: 20px;
    color: black;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    transition: 0.3s;
}

.main_flex.light_mode button {
    background: #020202b4;
    color: white;
}

.main_flex button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    height: 120px;
    width: 400px;
    border: 3px solid #ffffffb4;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.527);
    border-radius: 20px;
    transition: 0.3s;
    /* we can assign a box shadow. first two values or parameters ar the position, the third is the amount of blur the shadow has, and finally the color. */
}

.clock.light_mode {
    border: 3px solid #020202b4;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.527);
}

.page_footer {
    background: transparent;

    text-align: center;
    color: white;

    border: 3px solid #FFF;
    border-right: none;
    border-left: none;
    border-bottom: none;

    padding: 10px;
    transition: 0.3s;
}

.page_footer.light_mode {
    border: 3px solid #020202b4;
    color: rgb(0, 0, 0);
}

.page_footer p {
    font-size: 16px;
}

.main_background {
    background: #0e0e0e;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 0.3s;
    /* we have some transitions here, as when changing to dark/light mode, this transition seconds count for that.*/
}

.main_background.light_mode {
    background: #FFF;
}

h1 {
    font-size: 70px;
}

p {
    font-size: 25px;
}